<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div>

        <br>

        <h2 class="display-6">Introducir valores de la operación</h2>

        <br>

        <form action="recuperardatos" method="post">
            <div class="row">
                <label class="col-1">Id: </label>
                <input class="col-3" type="text" name="id" required>
            </div>

            <br>

            <div class="row">
                <label class="col-1">Acción: </label>
                <div class="col-3">
                    <select name="accion" required>
                        <option value="+">Sumar</option>
                        <option value="-">Restar</option>
                        <option value="*">Multiplicar</option>
                        <option value="/">Dividir</option>    
                        <option value="R">Resetear</option>            
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <label class="col-1">Numero: </label>
                <input class="col-3" type="number" name="number" step="0.01" value="0.00" required>
            </div>

            <br>

            <div class="row">
                <div class="col-2 offset-md-1">
                    <button type="submit">Enviar</button>
                </div>
                <div class="col-2">
                    <button type="reset">Reset</button>
                </div>
                
                
            </div>
            
            


    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
