.design{
    background-color: #808080;
    text-align: center; 
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.screen{
  
  background-color: #ADFF2F;
  text-align: right; 
  width: 90%;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border:10px;
  border-style: inset;
}

.keyboard{
    background-color: #808080;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: left; 
    justify-content: center;
}

.line-form{
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  
  
}
.red-line
{
  font-weight: bold;
    color: red;
}
.red-line > *
{
  font-weight: bold;
    color: red;
}
.imp{
  width: 43.5% !important;
 
}

.line-form > * {
  font-size: 25px;
  margin-right: 10px;
  min-width: 20px;
  width: 20%;
  height: 50px;
  border-style: solid;
  border-width: medium;
  border-color: black;
 }
