<h2 mat-dialog-title>View Details</h2>

<mat-dialog-content>
    <b>ID: </b> {{data.position}} <br>
    <b>name: </b> {{data.name}} <br>
    <b>surname: </b> {{data.surname}} <br>
    <b>emailC: </b> {{data.emailC}} <br>
    <b>emailP: </b> {{data.emailP}} <br>
    <b>city: </b> {{data.city}} <br>
    <b>url: </b> {{data.url}} <br>
    <b>DateInit: </b> {{data.DateInit}} <br>
    <b>act: </b> {{data.act}} <br>
    <b>DateEnd: </b> {{data.DateEnd}} <br>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>X</button>
</mat-dialog-actions>
