.example-spacer {
    flex: 1 1 auto;
  }

mat-card{
      margin-right: 10px;
  }

mat-grid-list{
    margin-left: 10px;
}

button{
  margin: 0px !important;
  margin-right: 5px !important;
}

section{
  margin-left: 10px;
  margin-top: 10px;
}